@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color:chartreuse
}

.h1 {
  display: flex;
}
.home {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  justify-content: space-between;
  vertical-align: middle;
}

.history {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  justify-content: space-between;
  vertical-align: middle;
}
.history-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  align-content: flex-start;
}
.history-text {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}
.rules {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  justify-content: space-between;
  vertical-align: middle;
}
.rules-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  align-content: flex-start;
}
.rules-text {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color:chartreuse
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 1.0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color:#1d1f1d
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (min-width: 900px) {
  .history-image {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2px;
    justify-content: space-evenly;
  }
  .history-text {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  }
  .history {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
  }
  .rules-image {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2px;
    justify-content: space-evenly;
  }
  .rules-text {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  }
  .rules {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 899px) {
  .history-image {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 2px;
    flex: 1 1 0%;
    justify-content: space-evenly;
  }
  .history-text {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex: 1 1 0%;
  }
  .history {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .rules-image {
    display: flex;
    width: 25%;
    height: 25%;
    padding: 2px;
    flex: 1 1 0%;
    justify-content: space-evenly;
  }
  .rules-text {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex: 1 1 0%;
  }
  .rules {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  .history-image {
    display: flex;
    width: 25%;
    height: 25%;
    padding: 2px;
    flex: 1 1 0%;
    justify-content: space-evenly;
  }
  .history-text {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex: 1 1 0%;
  }
  .history {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .rules-image {
    display: flex;
    width: 25%;
    height: 25%;
    padding: 2px;
    flex: 1 1 0%;
    justify-content: space-evenly;
  }
  .rules-text {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex: 1 1 0%;
  }
  .rules {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
}

body, button {
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    font-size: 1.25em;
  }

  #game {
    margin: auto;
    width: 402px;
  }

  #tic-tac-toe-board {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    margin: 32px 0;
  }

  .actions {
    display: flex;
  }

  .announcement {
    font-size: 3em;
    text-align: center;
  }

  .col-1 {
    justify-self: start;
  }

  .col-2 {
    justify-self: center;
  }

  .col-3 {
    justify-self: end;
  }

  .row-1 {
    align-self: start;
  }

  .row-2 {
    align-self: center;
  }

  .row-3 {
    align-self: end;
  }

  .spacer {
    flex: 1 0 0px;
  }

  .square {
    background-color: white;
    height: 130px;
    width: 130px;
  }
